@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos de header universal */

header {
    .position {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    section {
        text-align: start;
        margin: 0px 0px 20px 28px;
    }

}