@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos de header universal */

header {
    .navbar-nav {
        margin-left: auto;
    }

    div {
        .position {
            @include imagen;
        }
    }

    section {
        text-align: start;
        margin: 0px 0px 20px 28px;
    }
}