/* estilos main index */

.main-index {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-index-columna {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.8rem;
        margin: 0.8rem 0rem;

        .card-index-dos {
            grid-column: span 2;
        }

        .card-index {
            display: flex;
            flex-direction: column;
            background-color: $color-tres;
            padding: 1rem;
            align-items: center;
            font-size: 18px;

            h3 {
                margin-bottom: 1rem;
                color: $color-siete;
                text-align: center;
            }
        }
    }

    .img-brazo {
        display: none;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
        position: relative;

        .boxi {
            perspective: 1000px;

            .card {
                width: 100%;
                height: auto;
                border: 2px solid $color-seis;
                border-radius: 10px;
            }

            .texto-imagen {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: opacity 0.6s;
                background-color: $color-nueve;
                padding: 10px;
            }
        }

        .boxi:hover {
            img {
                transform: rotateY(180deg);
                opacity: 0.2;
                filter: blur(4px);
                filter: grayscale(60%);
            }

            .texto-imagen {
                opacity: 1;
            }
        }
    }
}