@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos de main universal */

main {
    h1 {
        text-align: center;
        padding: 5px 0px 5px 0px;
        margin-bottom: 60px;
        font-size: 28px;
        background-image: linear-gradient($color-tres, $color-cinco, $color-tres);
    }

    .descri-pag {
        text-align: center;

        .descripcion {
            color: $color-siete;
        }

        .parrafo {
            background-color: $color-tres;
            font-size: 19px;

            p {
                .color-link {
                    color: $color-dos;
                }
            }
        }

    }
}

