@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos de main */

main {
    h1 {
        text-align: center;
        padding: 5px 0px 5px 0px;
        margin-bottom: 60px;
        font-size: 28px;
        background-image: linear-gradient($color-tres, $color-cinco, $color-tres);
    }

    .descri-pag {
        text-align: center;

        .descripcion {
            color: $color-siete;
        }

        .parrafo {
            background-color: $color-tres;
            font-size: 18px;

            p {
                .color-link {
                    color: $color-dos;
                }
            }
        }

    }
}

main {
    .contacto {
        position: absolute;
        padding: 10px 0px 0px 25px;
        font-size: 14px;

        form {
            fieldset {
                .contacto-color {
                    color: $color-ocho;
                    text-decoration: underline;
                    font-size: 25px;
                }
            }
        }
    }

    .foto-contacto {
        max-width: 100%;
    }

}




















