/* estilos main trabajos realizados */

.main-trabajos {
    .chico-n {
        display: flex;
        padding: 10px;
        justify-content:space-around;

        div {
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }

    .center-carrusel {
        display: none;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        position: relative;

        .card {
            width: 100%;
            height: auto;
            border: 2px solid $color-seis;
            border-radius: 10px;
        }
    }

    .img-ubi {
        display: flex;
        margin-top: 10px;
        gap: 0.4rem;

        div {
            .ubi-dos {
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}