@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos main trabajos realizados */

.main-trabajos {
    .chico-n {
        display: flex;
        padding: 10px;
        justify-content:space-around;

        div {
            img {
                @include imagen;
            }
        }
    }

    .center-carrusel {
        display: none;
    }

    .box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;

        .card {
            @include imagen-radio;
        }
    }

    .img-ubi {
        display: flex;
        margin-top: 10px;
        gap: 0.4rem;

        div {
            .ubi-dos {
                @extend %width-border;
            }
        }
    }
}
