@import "../utilidades/variables";
@import "../utilidades/mixin";
@import "../utilidades/extend";

/* estilos main diseños */

.main-diseños {
    .chico-n {
        display: flex;
        padding: 10px;

        div {
            img {
                @include imagen;
            }
        }
    }

    .box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;
    }

    img {
        @include imagen;
    }

    div {
        .descanso {
            padding-top: 10px;
        }
    }
}