/* mediaquery tablet */

@media screen and (min-width: 1024px) {
    .main-index {
        .card-index-columna {
            display: flex;
        }
    }
}

@media screen and (max-width: 1024px) {

    .main-diseños,
    .main-trabajos,
    .main-index {
        .img-brazo {
            display: block;
        }

        .box {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}