/* media query celular */

@media screen and (max-width: 600px) {

    body {
        main {
            margin: 0px 5px;
        }

        footer {
            margin: 10px 5px 5px 5px;
            padding: 0px 0px 20px 0px;
        }
    }

    .main-ubicacion {
        .n-espacio {
            padding-top: 5px;
            font-size: 20px;
        }
    }


    .main-index,
    .main-diseños,
    .main-trabajos {
        .box {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .main-index {
        .card-index-columna {
            display: flex;
            flex-direction: column;
            gap: 0rem;

            .card-index {
                margin: 0.6rem 0rem;
                font-size: 15px;

                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .main-trabajos {
        .center-carrusel {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 0px 10px 0px;
        }
    }

    .none-foto {
        display: none;
    }

    header {
        .position {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        section {
            text-align: end;
            margin: 6px 5px 10px 0px;
        }

    }

    main {
        h1 {
            font-size: 22px;
            margin-bottom: 30px;
        }

        .descripcion {
            padding-top: 10px;
            font-size: 20px;
        }
    }

    .main-contacto {
        .contacto {
            position: relative;
            text-align: center;
            padding: 10px 0px 30px 10px;
            font-size: 12px;

            form {
                fieldset {
                    .contacto-color {
                        font-size: 20px;
                        display: none;
                    }

                    div {
                        label {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }


    .parrafo {
        p {
            font-size: 15px;
        }
    }

    .img-ubi {
        flex-direction: column;
    }

    section {
        .ubi-dos {
            width: 1fr;
            height: auto;
        }
    }

    .f {
        padding-top: 7px;
    }


    .main-ubicacion {
        .ubi-dos {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 0px 10px 0px;
        }
    }

    .img-brazo {
        display: block;
    }

    .img-ubi-f-dos {
        padding-top: 7px;
    }

    footer {
        .info-footer {
            padding: 40px 0px 0px 0px;
            text-align: center;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }

            a {
                font-size: 16px;
            }

            .whatsaap {
                display: none;
            }
        }

        .redes-footer {
            text-align: center;
            padding: 40px 0px 40px 0px;

            a {
                margin: 5px;
            }
        }

        div {
            a {
                padding-left: 10px;
                color: $color-siete;
                font-size: 16px;
            }
        }

        .titulo-final {
            margin-top: 20px;

            h3 {
                font-size: 11px;
            }
        }
    }
}