@import "../utilidades/variables";
@import "../utilidades/mixin";

/* estilos universales */

body {
    @include body;

    main {
        margin: 0px 10px;
    }

    footer {
        @include footer;
    }

    a {
        text-decoration: none;
        color: $color-cuatro;
    }
}


