@import "../utilidades/variables";


@mixin body {
    background-color: $color-uno;
    color: $color-dos;
    font-family: 'Roboto', sans-serif;
}

@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin footer {
    margin: 10px;
    padding: 0px 0px 20px 0px;
    background-color: $color-tres;
}

@mixin imagen {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@mixin imagen-radio {
    width: 100%;
    height: auto;
    border: 2px solid $color-seis;
    border-radius: 10px;
}


