// paleta de colores

$color-uno: rgb(0, 0, 0);
$color-dos: rgb(207, 197, 197);
$color-tres: rgb(41, 41, 41);
$color-cuatro: rgba(0, 255, 179, 0.725);
$color-cinco: rgba(0, 0, 0, 0.462);
$color-seis: rgb(207, 197, 197);
$color-siete: rgba(255, 200, 0, 0.924);
$color-ocho: rgb(205, 189, 245);
$color-nueve: rgba(58, 58, 58, 0);